body.body {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
}

div {
    width: 500px;
    background: #00000031;
    height: 200px;
    border-radius: 3em;
    margin: 120px;
}

button#chnge-colo-btn {
    height: 41px;
    width: 127px;
    border-radius: 2em;
    border: none;
    font-size: 16px;
    font-weight: 500;
}

p#hex-id {
    font-size: 20px;
    font-style: italic;
    /* font-weight: 600; */
}

h1 {
    font-size: 26px;
}